<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>

<body>
<form th:action="@{delete}" method="get">
    <div style="display: inline" th:each= "card : ${cards}">
        <img th:src="${card.imgUrl}">
        <input type="hidden" th:value="${card.id}" name = "id">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
<a style="none" href="/" class="btn btn-danger">Return</a>

</body>
</html>